<!DOCTYPE html>
<html>
    <head>

    <title>Smart Seating Planner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

<body>
    <div class="container">
    <h1>Smart Seating Planner</h1>
    <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="number"
    name="tables"
    placeholder="Tables">

    <input type="number"
    name="capacity"
    placeholder="Seats per table">

    <button type="submit">
    Generate
    </button>

    </form>

    {% if seating %}
    <h2>Seating Plan</h2>
        {% for table in seating %}
    <div class="table">
    <h3>Table {{ loop.index }}</h3>
    <ul>
        {% for guest in table %}
    <li>{{ guest }}</li>
        {% endfor %}
    </ul>
    </div>
        {% endfor %}

        {% endif %}

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>

</html>